In [1]:
import csv
import numpy as np
import pandas as pd
from nltk import word_tokenize
from nltk import pos_tag

In [ ]:
df = pd.read_csv('')
df2 = pd.read_csv('')
df

In [ ]:
df.tail(25)

In [4]:
df.shape

(10980, 12)

# UNDERSTANDING THE DATA

In [7]:
df.shape

(10980, 12)

In [8]:
print(df.dtypes)

tweet_id                   int64
airline_sentiment         object
airline                   object
airline_sentiment_gold    object
name                      object
negativereason_gold       object
retweet_count              int64
text                      object
tweet_coord               object
tweet_created             object
tweet_location            object
user_timezone             object
dtype: object

In [9]:
df.describe()

           tweet_id  retweet_count
count  1.098000e+04   10980.000000
mean   5.692169e+17       0.080965
std    7.795438e+14       0.740303
min    5.675883e+17       0.000000
25%    5.685584e+17       0.000000
50%    5.694753e+17       0.000000
75%    5.698902e+17       0.000000
max    5.703106e+17      44.000000

In [10]:
df.isna().sum()

tweet_id                      0
airline_sentiment             0
airline                       0
airline_sentiment_gold    10949
name                          0
negativereason_gold       10956
retweet_count                 0
text                          0
tweet_coord               10204
tweet_created                 0
tweet_location             3550
user_timezone              3577
dtype: int64

In [11]:
df.isnull()

,tweet_id,airline_sentiment,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,False,False,False,True,False,True,False,False,True,False,False,False
1,False,False,False,True,False,True,False,False,True,False,False,False
2,False,False,False,True,False,True,False,False,True,False,False,False
3,False,False,False,True,False,True,False,False,True,False,True,False
4,False,False,False,True,False,True,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
10975,False,False,False,True,False,True,False,False,True,False,False,True
10976,False,False,False,True,False,True,False,False,True,False,False,False
10977,False,False,False,True,False,True,False,False,True,False,False,True
10978,False,False,False,True,False,True,False,False,True,False,True,True
10979,False,False,False,True,False,True,False,False,True,False,True,True

In [12]:
df.index

RangeIndex(start=0, stop=10980, step=1)

In [ ]:
# dropping the names as they are useless in sentiment analysis

df = df.drop("name" , axis = 1)
df2 = df2.drop("name" , axis = 1)

# dropping the tweet_id as they are useless in sentiment analysis

df = df.drop("tweet_id" , axis = 1)
df2 = df2.drop("tweet_id" , axis = 1)

# dropping the tweet_created as they are useless in sentiment analysis

df = df.drop("tweet_created" , axis = 1)
df2 = df2.drop("tweet_created" , axis = 1)

In [ ]:
df

In [ ]:
Y_train_df = df.iloc[: ,0:1 ]
Y_train = Y_train_df.to_numpy()
X_train_df = df.iloc[: , 5:6]
X_train = X_train_df.to_numpy()
X_test_df = df2.iloc[: , 4:5]

In [ ]:
X_test_final = X_test_df.to_numpy()

In [ ]:
X_test_final

In [ ]:
data2 = []
for i in range(3660):
    sentence = X_test_final[i][0]
    words = word_tokenize(sentence)
    data2.append(words)
data2

In [ ]:
data = []
for i in range(10980):
    sentence = X_train[i][0]
    words = word_tokenize(sentence)
    sentiment = Y_train[i][0]
    tup = (words , sentiment)
    data.append(tup)
data

In [ ]:
# data_test = []
# for i in range(10980):
#     sentence = X_train[i][0]
#     words = word_tokenize(sentence)
# #     sentiment = Y_train[i][0]
# #     tup = (words , sentiment)
#     data.append(tup)
# data

In [ ]:
import random
random.shuffle(data)
random.shuffle(data2)

# DATA CLEANING

In [ ]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [ ]:
from nltk.corpus import wordnet
def get_simple_pos(tag):
    if tag.startswith('J'):
        return wordnet.ADJ
    elif tag.startswith('V'):
        return wordnet.VERB
    elif tag.startswith('N'):
        return wordnet.NOUN
    elif tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN

In [ ]:
from nltk.corpus import stopwords
import string
stop = stopwords.words('english')
punc = list(string.punctuation)
stop += punc
stop

In [ ]:
def clean_review(words):
    cleaned_words = []
    for w in words:
        if w.lower() not in stop:
            pos = pos_tag([w])
            pos_simple = get_simple_pos(pos[0][1])
            w_cleaned = lemmatizer.lemmatize(w,pos = pos_simple)
            cleaned_words.append(w_cleaned.lower())
    return cleaned_words

In [ ]:
cleaned_testing_data = []
for single in data2:
    words = single[0]
    words_cleaned = clean_review(words)
    cleaned_testing_data.append(words_cleaned)
cleaned_testing_data

In [ ]:
#using the above function
data_cleaned = []
for single in data:
    words = single[0]
    words_cleaned = clean_review(words)
    data_point = (words_cleaned , single[1])
    data_cleaned.append(data_point)
data_cleaned

In [ ]:
data_train = data_cleaned[:9000]
data_test = data_cleaned[9000:]

In [ ]:
all_words = []
for single in data_train:
    for ele in single[0]:
        all_words.append(ele)

In [ ]:
import nltk

In [ ]:
frequencies = nltk.FreqDist(all_words)
common = frequencies.most_common()
features = [ele[0] for ele in common]
features

In [ ]:
# Now we have to make a dictionary of features

def get_feature_dict(words):
    dic = {}
    for w in features:
        if w in words:
            dic[w] = True
        else:
            dic[w] = False
    return dic

In [ ]:
training_data = []
for single in data_cleaned:
    feat_dict = get_feature_dict(single[0])
    training_data.append((feat_dict , single[1]))
testing_data = []
for single in data_test:
    feat_dict = get_feature_dict(single[0])
    testing_data.append((feat_dict , single[1]))

In [ ]:
test = []
for single in data2:
    feat_dict = get_feature_dict(single)
    test.append(feat_dict)

In [ ]:
data2

# INBUILT NLTK CLASSIFIER

In [ ]:
from nltk import NaiveBayesClassifier
classifier = NaiveBayesClassifier.train(training_data)

In [ ]:
nltk.classify.accuracy(classifier , training_data)

# TRYING SKLEARN CLASSIFIER FROM NLTK

In [ ]:
from sklearn.svm import SVC
from nltk.classify.scikitlearn import SklearnClassifier

In [ ]:
svc = SVC()
classifier_sklearn = SklearnClassifier(svc)

In [ ]:
classifier_sklearn.train(training_data)

In [ ]:
nltk.classify.accuracy(classifier_sklearn , testing_data)

In [ ]:
Y_pred = classifier_sklearn.predict(testing_data)

# TRYING COUNT VECTORIZER

In [ ]:
categories = [category for data1,category in data_cleaned ]
categories

In [ ]:
text_document = [" ".join(data1) for data1,category in data_cleaned]
text_document

In [ ]:
text_document2 = [" ".join(data1) for data1 in data2]
text_document2

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
len(text_document)

In [ ]:
X_train , X_test , Y_train , Y_test = train_test_split(text_document , categories)

In [ ]:
count_vec = CountVectorizer(max_features = 2000)
# a = count_vec.fit_transform(text_document)
a = count_vec.fit_transform(X_train)
a.todense()

# a is nothing but X_train_features

In [ ]:
count_vec.get_feature_names()

In [ ]:
X_train_features =  a
# X_test_features = count_vec.transform(text_document2)
X_test_features = count_vec.transform(X_test)

In [ ]:
count_vec2 = CountVectorizer(max_features = 2000)
X_train_complete = count_vec2.fit_transform(text_document)
# a = count_vec2.fit_transform(X_train)
X_test_complete = count_vec.transform(text_document2)

In [ ]:
X_test_features

In [ ]:
from sklearn.svm import SVC
svc = SVC()

In [ ]:
# grid search for best c and gamma
from sklearn.model_selection import GridSearchCV
grid = {'C' : [1e2 , 1e3 , 5e3 , 1e4, 5e4] , 'gamma' : [1e-3 , 5e-4 , 1e-4 , 5e-3]}
gs = GridSearchCV(svc,grid)
gs.fit(X_train_complete , categories)
gs.best_estimator_

In [ ]:
svc.fit(X_train_features , categories)

In [ ]:
svc.score(X_test_features , Y_test)

In [ ]:
Y_pred = svc.predict(X_test_features)

In [ ]:
Y_pred

In [ ]:
Y_pred.shape

In [ ]:
# ans_a = convert(Y_pred)
import pandas as pd
pd.DataFrame(Y_pred).to_csv("sentiment.csv")

# TRYING RANDOM FOREST

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
rf = RandomForestRegressor()

In [ ]:
rf.fit(X_train_features , Y_train)
rf.score(X_test_features , Y_test)

# TRYING KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
clf = KNeighborsClassifier(n_neighbors = 25)
clf.fit(X_train_features , Y_train)
clf.score(X_test_features , Y_test)

In [ ]:
clf2 = KNeighborsClassifier(n_neighbors = 25)
clf.fit(X_train_complete , categories)
Y_pred2 = clf.predict(X_test_complete)

In [ ]:
import pandas as pd
pd.DataFrame(Y_pred2).to_csv("sentiment2.csv")

# TRYING LOGISTIC REGRESSION

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
clf = LogisticRegression()
clf.fit(X_train_features , Y_train)
clf.score(X_test_features , Y_test)

In [ ]:
clf = LogisticRegression()
clf.fit(X_train_complete , categories)
Y_pred3 = clf.predict(X_test_complete)

In [ ]:
import pandas as pd
pd.DataFrame(Y_pred3).to_csv("sentiment3.csv")

# TRYING NAIVE BAYES

In [ ]:
from sklearn.naive_bayes import MultinomialNB
mb = MultinomialNB()
mb.fit(X_train_complete , categories)

In [ ]:
Y_pred_temp = mb.predict(X_test_complete)

In [ ]:
import pandas as pd
pd.DataFrame(Y_pred_temp).to_csv("sentiment7.csv")